<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Circle Theme - HTML5 Responsive Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link href="./css/reset.css" rel="stylesheet" />
        <link rel="stylesheet" href="./css/bootstrap.css" media="screen" />
        <link rel="stylesheet" href="./css/icoMoon.css" media="all" />
        <link rel="stylesheet" href="./css/prettyPhoto.css" media="screen" />
        <link rel="stylesheet" href="./css/superfish.css" media="all" />
        <link rel="stylesheet" href="./style.css" />
        <link rel="stylesheet" href="./css/bootstrap-responsive.css" media="all" />
        <link href="./css/responsive.css" rel="stylesheet" />
        
        <noscript>
			<link rel="stylesheet" type="text/css" href="./css/noscript.css" />
		</noscript>        
        
        <link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700' rel='stylesheet' type='text/css' />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,300italic,600,600italic,700,800,800italic,700italic' rel='stylesheet' type='text/css' />
        
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->

        <!--[if IE 7]>
            <link rel="stylesheet" href="./css/ie7.css" type="text/css" media="all" />
            <link rel="stylesheet" href="css/font-awesome-ie7.min.css" media="all" />
        <![endif]-->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
            <link rel="stylesheet" href="./css/ie.css" type="text/css" media="all" />
        <![endif]-->

        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="img/favicon.ico" />
        <link rel="apple-touch-icon" href="./img/apple-touch-icon.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="./img/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="./img/apple-touch-icon-114x114.png" />
        
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
    <body class="sub-page kp-pf-detail">
    <header id="page-header">
    
    	<div id="header-top">
        	<div class="wrapper">
            	<div class="row-fluid">
                	<div class="span12">
                    	<nav id="top-nav">
                        	<ul id="main-menu" class="clearfix">
                            	<li class="menu-home-icon">
                                	<a href="./index.html"><span class="icon-home-5" aria-hidden="true"></span></a>
                                    <ul>
                                    	<li><a href="./index.html">Index style 1</a></li>
                                        <li><a href="./index-2.html">Index style 2</a></li>
                                        <li><a href="./index-3.html">Index style 3</a></li>
                                    </ul>
                                </li>
                                <li>
                                	<a href="#">Pages</a>
                                    <ul>
                                    	<li><a href="./about.html">About</a></li>
                                        <li><a href="./elements.html">Elements</a></li>
                                        <li><a href="./404.html">Error 404</a></li>
                                    </ul>
                                </li>
                                <li class="current-menu-item">
                                	<a href="#">Portfolio</a>
                                    <ul>
                                    	<li><a href="./portfolio-3col.html">Portfolio 3col</a></li>
                                        <li><a href="./portfolio-2col.html">Portfolio 2col</a></li>
                                        <li><a href="./portfolio-1col.html">Portfolio 1col</a></li>
                                        <li class="current-menu-item">
                                        	<a href="./portfolio-detail.html">Portfolio detail</a>
                                            <ul>
                                            	<li><a href="./portfolio-detail.html">Portfolio single</a></li>
                                                <li class="current-menu-item"><a href="./portfolio-audio.html">Portfolio audio</a></li>
                                                <li><a href="./portfolio-gallery.html">Portfolio gallery</a></li>
                                                <li><a href="./portfolio-video.html">Portfolio video</a></li>
                                                <li><a href="./portfolio-soundcloud.html">Portfolio soundcloud</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                	<a href="#">Blog</a>
                                    <ul>
                                    	<li>
                                        	<a href="#">Blog style 1</a>
                                            <ul>
                                            	<li><a href="./blog-1-left-sidebar.html">With left sidebar</a></li>
                                                <li><a href="./blog-1-right-sidebar.html">With right sidebar</a></li>
                                                <li><a href="./blog-1-two-sidebar.html">With two sidebar</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="./blog-2.html">Blog style 2</a></li>
                                        <li>
                                        	<a href="#">Blog style 3</a>
                                            <ul>
                                            	<li><a href="./blog-3-one-sidebar.html">With one sidebar</a></li>
                                                <li><a href="./blog-3-two-sidebar.html">With two sidebar</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                        	<a href="#">Blog single</a>
                                            <ul>
                                            	<li><a href="./single-1.html">Single style 1</a></li>
                                                <li><a href="./single-2.html">Single style 2</a></li>
                                                <li><a href="./single-3.html">Single style 3</a></li>
												<li><a href="./single-4.html">Single style 4</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="./contact.html">Contact</a></li>
                                
                            </ul><!--main-menu-->
							
							<div id="mobile-menu">
                                <span>Menu</span>
                                <ul id="toggle-view-menu">
                                    <li class="clearfix">
                                        <h3><a href="#">Home</a></h3>
                                        <span>+</span>
                                        <div class="clear"></div>                    
                                        <div class="menu-panel clearfix">
                                            <ul>
                                                <li><a href="./index.html">Index style 1</a></li>
                                                <li><a href="./index-2.html">Index style 2</a></li>
                                                <li><a href="./index-3.html">Index style 3</a></li>
                                            </ul>
                                        </div>
                                    </li>
									<li class="clearfix">
                                        <h3><a href="#">Pages</a></h3>
                                        <span>+</span>
                                        <div class="clear"></div>                    
                                        <div class="menu-panel clearfix">
                                            <ul>
                                                <li><a href="./about.html">About page</a></li>
                                                <li><a href="./elements.html">Elements page</a></li>
                                                <li><a href="./404.html">404 page</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <h3><a href="#">Portfolio</a></h3>
                                        <span>+</span>
                                        <div class="clear"></div>                    
                                        <div class="menu-panel clearfix">
                                            <ul>
                                                <li><a href="./portfolio-3col.html">Portfolio 3 column</a></li>
                                                <li><a href="./portfolio-2col.html">Portfolio 2 column</a></li>
                                                <li><a href="./portfolio-1col.html">Portfolio 1 column</a></li>
                                                <li>
                                                    <a href="#">Portfolio detail</a>
                                                    <ul>
                                                        <li><a href="./portfolio-detail.html">Portfolio single</a></li>
                                                        <li><a href="./portfolio-audio.html">Portfolio audio</a></li>
                                                        <li><a href="./portfolio-gallery.html">Portfolio gallery</a></li>
                                                        <li><a href="./portfolio-video.html">Portfolio video</a></li>
                                                        <li><a href="./portfolio-soundcloud.html">Portfolio soundcloud</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <h3><a href="#">Blog</a></h3>
                                        <span>+</span>
                                        <div class="clear"></div>                    
                                        <div class="menu-panel clearfix">
                                            <ul>
                                                <li>
                                                	<a href="#">Blog style 1</a>
                                                    <ul>
                                                        <li><a href="./blog-1-left-sidebar.html">Width left sidebar</a></li>
                                                        <li><a href="./blog-1-right-sidebar.html">Width right sidebar</a></li>
                                                        <li><a href="./blog-1-two-sidebar.html">Width two sidebar</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="./blog-2.html">Blog style 2</a></li>
                                                <li>
                                                	<a href="#">Blog style 3</a>
                                                    <ul>
                                                        <li><a href="./blog-3-one-sidebar.html">Width one sidebar</a></li>
                                                        <li><a href="./blog-3-two-sidebar.html">Width two sidebar</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">Blog single</a>
                                                    <ul>
                                                        <li><a href="./single-1.html">Single style 1</a></li>
                                                        <li><a href="./single-2.html">Single style 2</a></li>
                                                        <li><a href="./single-3.html">Single style 3</a></li>
                                                        <li><a href="./single-4.html">Single style 4</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="clearfix"><h3><a href="./contact.html">Contact</a></h3></li>					
                                </ul><!--toggle-view-menu-->
                            </div><!--mobile-menu-->
							
                        </nav><!--top-nav-->
                        <ul class="contact-top clearfix">
                        	<li class="clearfix"><i class="icon-phone"></i><span>1800-562-3764</span></li>
                            <li class="clearfix"><i class="icon-envelope"></i><a href="mailto:kopatheme@gmail.com">kopatheme@gmail.com</a></li>
                        </ul><!--contact-top-->
                    </div><!--span12-->
                </div><!--row-fluid-->
            </div><!--wrapper-->
        </div><!--header-top-->
        
        <div id="header-bottom">
        	<div class="wrapper">
            	<div class="row-fluid">
                	<div class="span12 clearfix">
                    	<div id="logo-image">
                        	<a href="./index.html"><img src="./placeholders/logo.png" alt="" /></a>
                        </div><!--logo-image-->
                        <div class="social-box clearfix">
                        	<ul class="socials-link clearfix">
                            	<li class="dribbble-icon"><a href="#"><span class="icon-dribbble" aria-hidden="true"></span></a></li>
                                <li class="gplus-icon"><a href="#"><span class="icon-google-plus" aria-hidden="true"></span></a></li>
                                <li class="facebook-icon"><a href="#"><span class="icon-facebook" aria-hidden="true"></span></a></li>
                                <li class="twitter-icon"><a href="#"><span class="icon-twitter" aria-hidden="true"></span></a></li>
                                <li class="feed-icon"><a href="#"><span class="icon-feed-2" aria-hidden="true"></span></a></li>
                                <li class="flickr-icon"><a href="#"><span class="icon-flickr" aria-hidden="true"></span></a></li>
                            </ul><!--socials-link-->
                            <div class="search-box clearfix">
                                <form action="#" class="search-form clearfix" method="get" />
                                    <input type="text" onblur="if(this.value=='')this.value=this.defaultValue;" onfocus="if(this.value==this.defaultValue)this.value='';" value="Search..." name="s" class="search-text" />
                                    <input type="submit" value="" name="submit" class="search-submit" />
                                </form><!-- search-form -->
                            </div><!--search-box-->
                        </div><!--social-box-->
                    </div><!--span12-->
                </div><!--row-fluid-->
            </div><!--wrapper-->
        </div><!--header-bottom-->
        
	</header><!--page-header-->
    
    <div id="breadcrumb-wrapper">
        <div class="wrapper">
            <div class="row-fluid">
                <div class="span12">
                    <div class="breadcrumb">
                        <a href="./index.html">Home</a>
                        <span>&nbsp;&gt;&nbsp;</span>
                        <span>Portfolio</span>
                    </div><!--breadcrumb-->
                    <div class="kp-intro">
                        <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Sed posuere consectetur est at lobortis. Praesent commodo beliavet an cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nis erat portir ligula, eget lacinia odio sem nec elit. Nullam id dolor id nibh ultricies vehicula ut elit. Sed posuere consectetur la maest at lobortis. Praesent commodo cursus magna.</p>
                    </div><!--kp-intro-->
                </div><!--span12-->
            </div><!--row-fluid-->
        </div><!--wrapper-->
    </div><!--breadcrumb-wrapper-->
    
    <div id="main-content">
    
        <div class="wrapper">
            
            <div class="row-fluid">
            
                <div class="span12">
                    
                    <div id="main-col">
                        
                        <div class="portfolio-detail">
                        
                        	<article class="pf-detail-item">
                            
                            	<h3>Ninth Work Post</h3>
                                
                                <div class="entry-meta-box">
                                
                                	<ul class="entry-meta">
                                        <li><span class="entry-date"><span class="icon-clock-4 entry-icon"></span>August 22, 20113</span></li>
                                        <li><span class="entry-author"><span class="icon-user entry-icon"></span><a href="#">John Doe</a></span></li>
                                        <li><span class="entry-view"><span class="icon-eye-4 entry-icon"></span>17786 Views</span></li>
                                        <li><span class="entry-like"><a class="icon-heart-3 entry-icon" href="#"></a>1663 Likes</span></li>
                                        <li><span class="entry-tag"><span class="icon-tags entry-icon"></span><a href="#">Design</a>, <a href="#">Print</a></span></li>
                                        <li><span class="entry-category"><span class="icon-book entry-icon"></span>In: <a href="#">Marketing</a></span></li>
                                    </ul>
                                    
                                    <ul class="socials-link clearfix">
                                        <li><a href="#"><span aria-hidden="true" class="icon-dribbble"></span></a></li>
                                        <li><a href="#"><span aria-hidden="true" class="icon-facebook"></span></a></li>
                                        <li><a href="#"><span aria-hidden="true" class="icon-twitter"></span></a></li>
                                        <li><a href="#"><span aria-hidden="true" class="icon-feed-2"></span></a></li>
                                        <li><a href="#"><span aria-hidden="true" class="icon-flickr"></span></a></li>
                                    </ul>
                                	
                                </div><!--entry-meta-box-->
                                
                                <div class="pf-detail-content">
                                	
                                    <div class="pf-thumb">
                                    	<audio controls="" tabindex="0">
                                            <source type="audio/wav" src="./placeholders/audio/adg3com_chuckedknuckles.wav"></source>
                                            <source type="audio/mpeg" src="./placeholders/audio/adg3com_chuckedknuckles.mp3"></source>
                                        </audio>
                                    </div>
                                    
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla cursus, erat in ullamcorper vestibulum, nibh ante pharetra orci, nec consequat est libero a leo. Nulla purus metus, fermentum ac eleifend at, eleifend a metus. Quisque ut leo eget neque pharetra convallis. Nullam quis mauris a neque vehicula viverra at sed odio. Pellentesque eleifend nulla in lectus ullamcorper non ultrices nisi facilisis. Nulla sodales nisi eget velit sodales at consequat lacus mattis. Nam vel nunc quis urna ornare rutrum blandit tincidunt odio. Suspendisse dignissim quam ut massa dignissim molestie. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur accumsan consequat tellus, nec condimentum tellus molestie in.</p>
                                    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mauris nisi, mollis a eleifend ut, varius quis nisi. Mauris luctus, urna eu rutrum fermentum, purus mauris tincidunt massa, sed fermentum ante lorem sed eros. Morbi malesuada consectetur lacus, in pharetra est cursus in. Quisque condimentum, quam at lacinia vestibulum, lectus nisl mattis orci, et ultrices dolor erat eu est. Pellentesque justo risus, suscipit tristique sagittis in, sollicitudin id tellus. In placerat iaculis convallis. Integer porttitor lobortis consectetur. Phasellus ac leo eget leo dictum tincidunt. Aliquam metus turpis, rhoncus sit amet scelerisque non, aliquam mollis nunc. Donec at lacus lectus, nec elementum augue. Proin ac turpis non mi convallis commodo. Sed viverra dolor condimentum</p>
                                
                                </div><!--pf-detail-content-->
                                
                                <div class="clear"></div>
                                
                                <nav class="pf-detail-nav clearfix">
                                    <a class="pf-detail-prev" href="./portfolio-gallery.html"></a>
                                    <a class="pf-detail-next" href="./portfolio-video.html"></a>
                                </nav><!--end:pf-detail-nav-->
                            
                            </article><!--pf-detail-item-->
                            
                            <div class="more-pf-box">
                                <h3>More item</h3>
                                <ul class="pf-box clearfix">
                                    <li>
                                        <article>
                                            <div class="bwWrapper">
                                                <img src="./placeholders/post-image/post-40.jpg" alt="" />
                                                <a href="./portfolio-detail.html" class="kp-pf-detail">+</a>
                                            </div>
                                            <div class="pf-info">
                                                <span class="entry-view"><span class="icon-eye-4 entry-icon"></span>17786 Views</span>
                                                <span class="entry-like"><a class="icon-heart-3 entry-icon" href="#"></a>1663 Likes</span>
                                                <a class="pf-name" href="./portfolio-detail.html">Project Name</a>
                                            </div>                                                
                                        </article><!--element-->
                                    </li>
                                    <li>
                                        <article>
                                            <div class="bwWrapper">
                                                <img src="./placeholders/post-image/post-41.jpg" alt="" />
                                                <a href="./portfolio-detail.html" class="kp-pf-detail">+</a>
                                            </div>
                                            <div class="pf-info">
                                                <span class="entry-view"><span class="icon-eye-4 entry-icon"></span>17786 Views</span>
                                                <span class="entry-like"><a class="icon-heart-3 entry-icon" href="#"></a>1663 Likes</span>
                                                <a class="pf-name" href="./portfolio-detail.html">Project Name</a>
                                            </div>                                                
                                        </article><!--element-->
                                    </li>
                                    <li>
                                        <article>
                                            <div class="bwWrapper">
                                                <img src="./placeholders/post-image/post-42.jpg" alt="" />
                                                <a href="./portfolio-detail.html" class="kp-pf-detail">+</a>
                                            </div>
                                            <div class="pf-info">
                                                <span class="entry-view"><span class="icon-eye-4 entry-icon"></span>17786 Views</span>
                                                <span class="entry-like"><a class="icon-heart-3 entry-icon" href="#"></a>1663 Likes</span>
                                                <a class="pf-name" href="./portfolio-detail.html">Project Name</a>
                                            </div>                                                
                                        </article><!--element-->
                                    </li>                            
                                </ul>
                            </div><!--more-pf-box-->
                        
                        </div><!--portfolio-detail-->
                        
                    </div><!--main-col-->
                    
                    <aside class="sidebar widget-area-1">
                        <div class="widget">
                            <h4 class="widget-title">Popular</h4>
                            <ul class="kp-popular-post">
                                <li>
                                    <article class="clearfix">
                                        <a href="#" class="entry-thumb"><img src="./placeholders/60x60/60x60-1.jpg" alt="" /></a>
                                        <div class="entry-content">
                                            <h4 class="entry-title"><a href="#">Lorem ipsum dolor sit amet adipiscing</a></h4>                                            
                                            <span class="entry-date"><span class="icon-clock-4 entry-icon" aria-hidden="true"></span><span>August 22, 2013</span></span>
                                            <span class="entry-comment"><span class="icon-bubbles-4 entry-icon" aria-hidden="true"></span><a href="#">20</a></span>
                                        </div>
                                    </article>
                                </li>
                                <li>
                                    <article class="clearfix">
                                        <a href="#" class="entry-thumb"><img src="./placeholders/60x60/60x60-2.jpg" alt="" /></a>
                                        <div class="entry-content">
                                            <h4 class="entry-title"><a href="#">Lorem ipsum dolor sit amet adipiscing</a></h4>
                                            <span class="entry-date"><span class="icon-clock-4 entry-icon" aria-hidden="true"></span><span>August 22, 2013</span></span>
                                            <span class="entry-comment"><span class="icon-bubbles-4 entry-icon" aria-hidden="true"></span><a href="#">20</a></span>
                                        </div>
                                    </article>
                                </li>
                                <li>
                                    <article class="clearfix">
                                        <a href="#" class="entry-thumb"><img src="./placeholders/60x60/60x60-3.jpg" alt="" /></a>
                                        <div class="entry-content">
                                            <h4 class="entry-title"><a href="#">Lorem ipsum dolor sit amet adipiscing</a></h4>
                                            <span class="entry-date"><span class="icon-clock-4 entry-icon" aria-hidden="true"></span><span>August 22, 2013</span></span>
                                            <span class="entry-comment"><span class="icon-bubbles-4 entry-icon" aria-hidden="true"></span><a href="#">20</a></span>
                                        </div>
                                    </article>
                                </li>
                            </ul>
                        </div><!--widget-->
                        
                        <div class="widget">
                            <div class="list-container-2">
                                <ul class="tabs-2 clearfix">
                                    <li class="active"><a href="#tab-2-1">Latest</a></li>
                                    <li><a href="#tab-2-2">Popular</a></li>
                                    <li><a href="#tab-2-3">Comments</a></li>
                                </ul><!--tabs-2-->
                            </div>
                            <div class="tab-container-2">
                                <div class="tab-content-2" id="tab-2-1">                        
                                    <ul class="kp-latest-post">
                                        <li>
                                            <article class="clearfix">
                                                <a href="#" class="entry-thumb"><img src="./placeholders/60x60/60x60-1.jpg" alt="" /></a>
                                                <div class="entry-content">
                                                    <h4 class="entry-title"><a href="#">Lorem ipsum dolor sit amet adipiscing</a></h4>
                                                    <span class="entry-date"><span class="icon-clock-4 entry-icon" aria-hidden="true"></span><span>August 22, 2013</span></span>
                                            		<span class="entry-comment"><span class="icon-bubbles-4 entry-icon" aria-hidden="true"></span><a href="#">20</a></span>
                                                </div>
                                            </article>
                                        </li>
                                        <li>
                                            <article class="clearfix">
                                                <a href="#" class="entry-thumb"><img src="./placeholders/60x60/60x60-2.jpg" alt="" /></a>
                                                <div class="entry-content">
                                                    <h4 class="entry-title"><a href="#">Lorem ipsum dolor sit amet adipiscing</a></h4>
                                                    <span class="entry-date"><span class="icon-clock-4 entry-icon" aria-hidden="true"></span><span>August 22, 2013</span></span>
                                            		<span class="entry-comment"><span class="icon-bubbles-4 entry-icon" aria-hidden="true"></span><a href="#">20</a></span>
                                                </div>
                                            </article>
                                        </li>
                                        <li>
                                            <article class="clearfix">
                                                <a href="#" class="entry-thumb"><img src="./placeholders/60x60/60x60-3.jpg" alt="" /></a>
                                                <div class="entry-content">
                                                    <h4 class="entry-title"><a href="#">Lorem ipsum dolor sit amet adipiscing</a></h4>
                                                    <span class="entry-date"><span class="icon-clock-4 entry-icon" aria-hidden="true"></span><span>August 22, 2013</span></span>
                                            		<span class="entry-comment"><span class="icon-bubbles-4 entry-icon" aria-hidden="true"></span><a href="#">20</a></span>
                                                </div>
                                            </article>
                                        </li>
                                    </ul>
                                </div><!--tab-content-2-->
                                <div class="tab-content-2" id="tab-2-2">                        
                                    <ul class="kp-popular-post">
                                        <li>
                                            <article class="clearfix">
                                                <a href="#" class="entry-thumb"><img src="./placeholders/60x60/60x60-1.jpg" alt="" /></a>
                                                <div class="entry-content">
                                                    <h4 class="entry-title"><a href="#">Lorem ipsum dolor sit amet adipiscing</a></h4>
                                                    <span class="entry-date"><span class="icon-clock-4 entry-icon" aria-hidden="true"></span><span>August 22, 2013</span></span>
                                            		<span class="entry-comment"><span class="icon-bubbles-4 entry-icon" aria-hidden="true"></span><a href="#">20</a></span>
                                                </div>
                                            </article>
                                        </li>
                                        <li>
                                            <article class="clearfix">
                                                <a href="#" class="entry-thumb"><img src="./placeholders/60x60/60x60-2.jpg" alt="" /></a>
                                                <div class="entry-content">
                                                    <h4 class="entry-title"><a href="#">Lorem ipsum dolor sit amet adipiscing</a></h4>
                                                    <span class="entry-date"><span class="icon-clock-4 entry-icon" aria-hidden="true"></span><span>August 22, 2013</span></span>
                                            		<span class="entry-comment"><span class="icon-bubbles-4 entry-icon" aria-hidden="true"></span><a href="#">20</a></span>
                                                </div>
                                            </article>
                                        </li>
                                        <li>
                                            <article class="clearfix">
                                                <a href="#" class="entry-thumb"><img src="./placeholders/60x60/60x60-3.jpg" alt="" /></a>
                                                <div class="entry-content">
                                                    <h4 class="entry-title"><a href="#">Lorem ipsum dolor sit amet adipiscing</a></h4>
                                                    <span class="entry-date"><span class="icon-clock-4 entry-icon" aria-hidden="true"></span><span>August 22, 2013</span></span>
                                            		<span class="entry-comment"><span class="icon-bubbles-4 entry-icon" aria-hidden="true"></span><a href="#">20</a></span>
                                                </div>
                                            </article>
                                        </li>
                                    </ul>
                                </div><!--tab-content-2-->
                                <div class="tab-content-2" id="tab-2-3">                        
                                    <ul class="kp-comment">
                                        <li>
                                            <article class="clearfix">
                                                <a href="#" class="entry-thumb"><img src="./placeholders/60x60/60x60-1.jpg" alt="" /></a>
                                                <div class="entry-content">
                                                    <h4 class="entry-title"><a href="#">Lorem ipsum dolor sit amet adipiscing</a></h4>
                                                    <span class="entry-date"><span class="icon-clock-4 entry-icon" aria-hidden="true"></span><span>August 22, 2013</span></span>
                                            		<span class="entry-comment"><span class="icon-bubbles-4 entry-icon" aria-hidden="true"></span><a href="#">20</a></span>
                                                </div>
                                            </article>
                                        </li>
                                        <li>
                                            <article class="clearfix">
                                                <a href="#" class="entry-thumb"><img src="./placeholders/60x60/60x60-2.jpg" alt="" /></a>
                                                <div class="entry-content">
                                                    <h4 class="entry-title"><a href="#">Lorem ipsum dolor sit amet adipiscing</a></h4>
                                                    <span class="entry-date"><span class="icon-clock-4 entry-icon" aria-hidden="true"></span><span>August 22, 2013</span></span>
                                            		<span class="entry-comment"><span class="icon-bubbles-4 entry-icon" aria-hidden="true"></span><a href="#">20</a></span>
                                                </div>
                                            </article>
                                        </li>
                                        <li>
                                            <article class="clearfix">
                                                <a href="#" class="entry-thumb"><img src="./placeholders/60x60/60x60-3.jpg" alt="" /></a>
                                                <div class="entry-content">
                                                    <h4 class="entry-title"><a href="#">Lorem ipsum dolor sit amet adipiscing</a></h4>
                                                    <span class="entry-date"><span class="icon-clock-4 entry-icon" aria-hidden="true"></span><span>August 22, 2013</span></span>
                                            		<span class="entry-comment"><span class="icon-bubbles-4 entry-icon" aria-hidden="true"></span><a href="#">20</a></span>
                                                </div>
                                            </article>
                                        </li>
                                    </ul>
                                </div><!--tab-content-2-->            
                            </div>
                        </div><!--widget-->
                        
                        <!--<div class="widget">
                            <h4 class="widget-title">Latest tweets</h4>
                            <div class="twitter-widget">
                                <div class='twitter_outer'>
                                    <input type='hidden' class='tweet_id' value='envato'>
                                    <input type='hidden' class='tweet_count' value='2'>
                                    <div class='twitter_inner clearfix'></div>
                                </div>
                            </div>
                        </div>-->
                        
                        <div class="widget clearfix widget_archive">
                            <h4 class="widget-title">Archives</h4>		
                            <ul>
                                <li><i class="icon-calendar"></i><a href="#" title="">January 2013</a>&nbsp;(1)</li>
                                <li><i class="icon-calendar"></i><a href="#" title="">December 2012</a>&nbsp;(12)</li>
                                <li><i class="icon-calendar"></i><a href="#" title="">November 2012</a>&nbsp;(10)</li>
                                <li><i class="icon-calendar"></i><a href="#" title="">October 2012</a>&nbsp;(9)</li>
                                <li><i class="icon-calendar"></i><a href="#" title="">September 2012</a>&nbsp;(5)</li>
                            </ul>
                        </div><!--widget_archive-->
                        
                        <div class="widget">
                            <div class="adv-300-300">
                                <a href="#"><img src="./placeholders/banner-300x300.png" alt="" /></a>
                            </div>
                        </div><!--widget-->
                        
                    </aside><!--sidebar-->
                    
                    <div class="clear"></div>
                    
                    <div class="bottom-twitter bottom-tagline">
                    	<div class="wrapper">
                        	<div class="row-fluid">
                                <div class="span12">
                                    <!--<div class="twitter-widget">
                                        <div class='twitter_outer'>
                                            <input type='hidden' class='tweet_id' value='envato'>
                                            <input type='hidden' class='tweet_count' value='1'>
                                            <div class='twitter_inner clearfix'></div>
                                        </div>
                                    </div>-->
                                    <p>Donec at nulla non ipsum aliquet blandit. Pellentesque id fermentum nunc.</p>
                                </div><!--span12-->
                        	</div><!--row-fluid-->
                    	</div><!--wrapper-->
                	</div><!--bottom-twitter-->
                    
                </div><!--span12-->
                
            </div><!--row-fluid-->  
            
        </div><!--wrapper-->
    
    </div><!--main-content-->
    
    <div id="bottom-sidebar">
    	
        <div class="wrapper">
        	
            <div class="row-fluid">
            	
                <div class="span3 widget-area-6">
                	<div id="footer-logo-image">
                        <a class="white-logo" href="#"><img src="./placeholders/white-logo.png" alt="" /></a>
                        <a class="dark-logo" href="#"><img src="./placeholders/logo.png" alt="" /></a>
                    </div>
                    <div class="widget clearfix widget_text">                    
                        <div class="textwidget">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In luctus luctus est vestibulum luctus. Cras semper mollis feugiat. Suspendisse mollis, massa id aliquam vulputate, libero...</div>                 		
                    </div><!--widget_text-->
                </div><!--span3-->
                
                <div class="span3 widget-area-7">
                	<div class="widget">
                    	<h4 class="widget-title">Photo on Flickr</h4>
                        <div class="flickr-wrap clearfix" id="flickr-feed-1">                    
                            <ul class="kopa-flickr-widget clearfix"></ul>
                        </div><!--flickr-wrap-->
                    </div><!--widget-->
                </div><!--span3-->
                
                <div class="span3 widget-area-8">
                	<!--<div class="widget clearfix widget_tag_cloud">
                    	<h4 class="widget-title">Tag Clound</h4>
                        <div class="tagcloud">
                            <a href="#">carousel</a>
                            <a href="#">china</a>
                            <a href="#">carousel</a>
                            <a href="#">china</a>
                            <a href="#">carousel</a>
                            <a href="#">china</a>
                            <a href="#">carousel</a>
                            <a href="#">china</a>
                            <a href="#">carousel</a>
                            <a href="#">china</a>
						</div>
					</div>-->
                    <div class="widget">
                    	<h4 class="widget-title">Tags</h4>
                        <div class="kp-tagcloud">
                            <a href="#">
                                <span class="kp-tag-left"></span>
                                <span class="kp-tag-rounded"></span>
                                <span class="kp-tag-text">Thesis</span>
                                <span class="kp-tag-right"></span>
                            </a>
                            <a href="#">
                                <span class="kp-tag-left"></span>
                                <span class="kp-tag-rounded"></span>
                                <span class="kp-tag-text">Premium Themes</span>
                                <span class="kp-tag-right"></span>
                            </a>
                            <a href="#">
                                <span class="kp-tag-left"></span>
                                <span class="kp-tag-rounded"></span>
                                <span class="kp-tag-text">Genesis</span>
                                <span class="kp-tag-right"></span>
                            </a>
                            <a href="#">
                                <span class="kp-tag-left"></span>
                                <span class="kp-tag-rounded"></span>
                                <span class="kp-tag-text">Clouds</span>
                                <span class="kp-tag-right"></span>
                            </a>
                            <a href="#">
                                <span class="kp-tag-left"></span>
                                <span class="kp-tag-rounded"></span>
                                <span class="kp-tag-text">Icons</span>
                                <span class="kp-tag-right"></span>
                            </a>
                            <a href="#">
                                <span class="kp-tag-left"></span>
                                <span class="kp-tag-rounded"></span>
                                <span class="kp-tag-text">Premium Themes</span>
                                <span class="kp-tag-right"></span>
                            </a>
                            <a href="#">
                                <span class="kp-tag-left"></span>
                                <span class="kp-tag-rounded"></span>
                                <span class="kp-tag-text">Themedy</span>
                                <span class="kp-tag-right"></span>
                            </a>
                            <a href="#">
                                <span class="kp-tag-left"></span>
                                <span class="kp-tag-rounded"></span>
                                <span class="kp-tag-text">Genesis</span>
                                <span class="kp-tag-right"></span>
                            </a>
                            <a href="#">
                                <span class="kp-tag-left"></span>
                                <span class="kp-tag-rounded"></span>
                                <span class="kp-tag-text">Clouds</span>
                                <span class="kp-tag-right"></span>
                            </a>
                            <a href="#">
                                <span class="kp-tag-left"></span>
                                <span class="kp-tag-rounded"></span>
                                <span class="kp-tag-text">Themedy</span>
                                <span class="kp-tag-right"></span>
                            </a>
						</div>
                    </div><!--widget-->
                </div><!--span3-->
                
                <div class="span3 widget-area-9">
                	<div class="widget">
                    	<h4 class="widget-title">Latest Comments</h4>
                        <ul class="kp-latest-comment">
                            <li>
                                <article class="clearfix">
                                    <a class="entry-thumb" href="#"><img alt="" src="./placeholders/60x60/60x60-1.jpg" /></a>
                                    <div class="entry-content clearfix">
                                        <a class="comment-name" href="#">Dannci says:</a>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac posuere ante. Ut scelerisque luctu...</p>
                                    </div>
                                </article>
                            </li>
                            <li>
                                <article class="clearfix">
                                    <a class="entry-thumb" href="#"><img alt="" src="./placeholders/60x60/60x60-2.jpg" /></a>
                                    <div class="entry-content clearfix">
                                        <a class="comment-name" href="#">Dannci says:</a>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac posuere ante. Ut scelerisque luctu...</p>
                                    </div>
                                </article>
                            </li>
                        </ul>
                    </div><!--widget-->
                </div><!--span3-->
                
            </div><!--row-fluid-->
            
        </div><!--wrapper-->
        
    </div><!--bottom-sidebar-->
    
    <footer id="page-footer">
    	<div class="wrapper">
        	<div class="row-fluid">
            	<div class="span12">
                	<div id="copyright">Copyrights. © 2013 by KOPASOFT</div>
                </div><!--span12-->
            </div><!--row-fluid-->
        </div><!--wrapper-->
    </footer><!--page-footer-->
    <p id="back-top">
        <a href="#top">Back to Top</a>
    </p>
    
    <script src="./js/jquery-1.8.3.min.js"></script>
    <script src="./js/superfish.js"></script>
    <script src="./js/retina.js"></script>
    <script src="./js/bootstrap.js"></script>
    <script src="./js/bootstrap-tooltip.js"></script>
    <script src="./js/jquery.eislideshow.js"></script>
    <script src="./js/jquery.easing.1.3.js"></script>
    <script src="./js/jquery.prettyPhoto.js"></script>
    <script src="./js/modernizr-transitions.js"></script>
    <script src="./js/jquery.isotope.min.js"></script>
    <script src="./js/jquery.validate.min.js"></script>
    <script src="./js/jquery.form.js"></script>
    <script src="./js/jquery.tweet.js"></script>
    <script src="./js/jflickrfeed.min.js"></script>
	<script src="./js/jquery.flexslider.js"></script>
    <script src="./js/jQuery.BlackAndWhite.js"></script>
	<script src="./js/jquery.carouFredSel-6.0.4-packed.js"></script>
    <script src="./js/sequence.jquery-min.js"></script>
    <script src="./js/custom.js" charset="utf-8"></script>
 
    
    </body>
</html>
